#page {
	width: 1080px;
	height: 650px;	
}

#welcome {
	vertical-align: middle;
	color: white;
	position: absolute;
	padding: 5px 20px;
	background-color: #1abc9c;
	border-radius: 15px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 1);
	left: 890px;
	z-index: 3;
}

article.tabs {
	position: relative;
	float: top;
	display: block;
	width: 1000px;
	height: 620px;
	margin: 5px 100px;
}

article.tabs section {
	position: absolute;
	display: block;
	top: 1.2em;
	left: 30px;
	width: 1000px;
	height: 620px;
	border-radius: 10px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	padding: 5px 20px;
	z-index: 0;
}

/*
article.tabs section:first-child {
	z-index: 1;
}
*/

article.tabs section h2 {
	position: absolute;
	font-size: 1.5em;
	font-weight: bold;
	width: 120px;
	height: 40px;
	left: 10px;
	padding: 0;
	margin: 0;
	color: white;
	background-color: #34495e;
	border-radius: 10px 0 0 10px;
}

article.tabs section:nth-child(1) h2 {
	left: -120px;
	top: 20px;
}

article.tabs section:nth-child(2) h2 {
	left: -120px;
	top: 70px;
}

article.tabs section:nth-child(3) h2 {
	left: -120px;
	top: 120px;
}

article.tabs section:nth-child(4) h2 {
	left: -120px;
	top: 170px;
}

article.tabs section:nth-child(5) h2 {
	left: -120px;
	top: 220px;
}

article.tabs section:nth-child(6) h2 {
	left: -120px;
	top: 270px;
}

article.tabs section:nth-child(7) h2 {
	left: -120px;
	top: 320px;
}

article.tabs section:nth-child(8) h2 {
	left: -120px;
	top: 370px;
}

article.tabs section:target {
	background-color: #ecf0f5;
	z-index: 2;
}

article.tabs section:target h2 {
	color: inherit;
	background-color: #ecf0f5;
	z-index: 2;
}

article.tabs section h2 a {
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.tabs section,article.tabs section h2 {
	transition: all 150ms ease;
}

.innerDiv {
	width: 960px;
	height: 500px;
	padding: 30px;
}

.tabnav {
	float: right;
	width: 300px;
}

#chart_div {
	top: 60px;
	left: 10px;
	width: 900px;
	height: 450px;
	border-radius: 10px;
}

.btndiv {
	width: 900px;
}

.btndivdiv {
	margin-top: 30px;
	margin-left: 250px;
	margin-right: 250px;
	width: 400px;
}

.onecol {
	padding: 20px;
	vertical-align: middle;
	width: 900px;
	height: 50px;
}

.col1 {
	width: 250px;
	padding: 10px;
}

.col2 {
	width: 650px;
	height: 30px;
}

#file {
    display:none;
	cursor: pointer;
}

input[type=range] {
	-webkit-appearance: none;
	background-color: #d6dbe0;
	border-radius: 30px;
	width: 600px;
	height:15px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #1abc9c;
	opacity: 0.8;
	cursor: pointer;
	width: 20px;
	border-radius: 30px;
	height: 20px;
	transition: background 0.25s;
	-webkit-backface-visibility: hidden;
}

pre {
	width: 900px;
	height: 410px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
	overflow-x: none;
	overflow-y: scroll;
	background: #ecf0f1;
	border-radius: 10px;
}

code {
	font: 12px Monaco, 'andale mono', 'lucida console', monospace;
}

#obj1div {
	float: left;
	margin-left: 100px;
}

#obj2div {
	float: right;
	margin-right: 100px;
}
